.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 20px;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Colonnes du footer */
  .footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  /* Titres des colonnes */
  .footer-column h3 {
    color: #ffd700;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Liens et texte */
  .footer-column p,
  .footer-links li {
    margin: 5px 0;
  }
  
  .footer-links a {
    color: #ffd700;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Logos */
  .footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .footer-logo-text {
    max-width: 120px;
  }
  
  /* Réseaux sociaux */
  .social-buttons {
    display: flex;
    gap: 10px;
  }
  
  .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  

  .social-button:hover {
    transform: scale(1.2);
  }
  
  /* Bas de page */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
  }
  
  .footer-bottom a {
    color: #ffd700;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  
  
  
  .social-buttons .social-button:hover, .social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .social-buttons .fa-twitter, .fa-facebook-f, .fa-tiktok, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }

  .tiktok {
    font-size: 25px !important;

  }