/* == OVERALL DEFINITIONS == */

html{
	font-size: calc(12px + 0.390625vw);
}

.text-center{ 
    text-align: center; 
}

.text-justify{ 
    text-align: justify;
    color: rgb(255, 255, 255);
    text-align: center; 
}

h1{
	font-size: 1.8rem;
    color: white;
    text-align: center;
}

h2{
    color: black; /* Couleur du texte */
    text-align: left;
    font-size: 1.5rem;
}

h2.title{ 
    margin-bottom: 5px; 
}

h3{
	margin-bottom: 8px;
}

.small
{
	font-size: 75%;
    color: #ffffff
}

.grey{ 
    color: #ffffff; 
}
 
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*header*/
.create-offer-btn {
    display: inline-block;
    background-color: #2368e1;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    float: right;
    margin-bottom: 20px;
}

.offer-container {
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: left; /* Texte aligné à gauche */
    width: 100%; /* Prend toute la largeur disponible */
    box-sizing: border-box;
}

.offer-container h3 {
    margin: 0;
    font-size: 1.2rem;
    color: black;
    text-align: left;
}

.offer-container p {
    margin: 5px 0;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-align: left;
    width: auto;
}

.offer-container button {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-delete {
    background-color: #ff4d4d;
    color: white;
}

.btn-stats {
    background-color: #ccc;
    color: black;
}

.btn-view {
    background-color: #2368e1;
    color: white;
}




.subtitle span.item:not(:last-child)::after{
	content: ' | ';
	font-weight: 100;
}

a.button{
	padding: .25rem .5rem;
    background-color: white;
    line-height: 1.1rem;
    border-radius: 4px;
    color: #2368e1 !important;
    font-weight: 600;
}

.right{
    float: right;
}

header{ 
    background-color: #000000; 
}

/* Navbar */
header .navbar{
	background-color: black;
	color: #2368e1;
	padding: 10px 15px;
}

header .navbar span.active{ 
    font-weight: 600; 
    color: #2368e1; 
}

header .navbar a{
	color: white;
	text-decoration: none;
}

header .navbar a:hover{
	text-decoration: underline;
}

header .navitems{
	display: inline-block;
}

header .navitems .navitem:not(:last-child)::after{
	content: ' | ';
	color: white;
	font-weight: 100;
}

/* Breadcrumb */
header nav ol.breadcrumb{
	margin: 0px 0px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 0rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0rem;
	font-size: 100%;
}

header nav ol.breadcrumb li.breadcrumb-item a{
	color: #2368e1;
    text-decoration: none;
}

header nav ol.breadcrumb li.breadcrumb-item a:hover{
	text-decoration: underline;
}

header nav ol.breadcrumb li.breadcrumb-item:not(:last-child)::after{
	display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: ">";
}

header nav.breadcrumb ol li.breadcrumb-item.active{
	color: #6c757d;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*Body*/

body{
	background-color: #e6f2ff;
	margin: 0;
    font-family: arial;
}

main {
    background-color: #e6f2ff;
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Ajuste la largeur */
    margin: 0; /* Supprime l'alignement automatique */
    margin-left: 10px; /* Positionne le bloc à gauche */
    text-align: left; 
}

.wrapper{
	max-width: 1090px;
	margin: 0 auto;
	background-color: rgb(0, 255, 60);
	border: 1px solid grey;
	padding: 15px;
}


/* Side-by-side elements using Flex method*/
.flex-container{
	display: flex;
}

.flex-child{
	flex: 1;
}

.flex-child:not(:last-child){
	padding-right: 20px;	
}

/* Forms */
label{
	display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    
}

input, select, textarea{
    width: 100%; /* Champs qui occupent toute la largeur */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Cibler directement les labels de checkbox et radio */
input[type="checkbox"] + label,
input[type="radio"] + label {
  color: white !important; 
}

input[type="checkbox"],
input[type="radio"] {
  color: white !important;
  background-color: transparent; 
}

form {
    color: white !important;  
}

.small {
    color: white !important; 
}

textarea{
	resize: none;
    height: 80px;
}

button{
	text-transform : uppercase;
	border-radius: 4px;
    text-decoration: none;
    transition: background-color 300ms ease 0s, color 300ms ease 0s;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px 15px;
    
}

button[type="reset"]{
	background-color: #2368e1;
	color: rgb(255, 255, 255);
}

button[type="reset"]:hover{
	background-color: #2368e1;
}

button[type="submit"]{
	background-color: #2368e1;
	color: white;
	font-weight: 600;
	border: 1px solid transparent;
}

button[type="submit"]:hover{
	background-color: #2368e1;
}

input[type="file"] {
    display: none;
    
}

.file-upload{
    display: inline-block;
	transition: background-color 300ms ease 0s, color 300ms ease 0s;
	padding: 8px 15px;
    margin-top: 5px;
    border-radius: 8px;
    cursor: pointer;
	background-color: #2368e1;
	color: white;
	font-weight: 600;
	font-size: 0.8em;
	border: 1px solid transparent;
}

.file-upload:hover{
	background-color:#2368e1;
}

input[type="radio"]{
	accent-color: #2368e1;
}

.form-section {
    position: relative;
    background: rgba(255, 255, 255, 0.8); /* White background with opacity */
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    z-index: 2;
}
  
.form-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./images/fond_connexion.png') no-repeat center center;
    background-size: cover;
    z-index: -1; 
}

.form-section-flou{
    position: relative;
    background: rgba(255, 255, 255, 0.8); /* White background with opacity */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
}

.form-section-flou::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./images/fond_connexion.png') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1; 
}

.form-section form {
    z-index: 2;
    position: relative;
}

button {
    text-transform: uppercase;
    background-color: #2368e1;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
  
button[type="reset"] {
    background-color: #2368e1;
    color: #ffffff;
}
  
/* Styles for tags */
.tag {
    padding: .25rem .5rem;
    background-color: white;
    border: 1px solid black;
    font-size: .75rem;
    line-height: 1.1rem;
    border-radius: 4px;
}
  
.tag:not(:last-child) {
    margin-right: 5px;
}

/* Conteneur pour les boutons (centrer et aligner côte à côte) */
.button-container {
    display: flex;
    justify-content: center; /* Centrer les boutons horizontalement */
    gap: 20px; /* Espacement entre les boutons */
    width: 100%;
    margin-top: 20px; /* Espacement avec le contenu précédent */
}
  
/* Boutons - Style pour les boutons "Postuler" et "Réinitialiser" */
button {
    background-color: #2368e1; /* Bleu spécifique */
    color: white; /* Texte en blanc */
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 150px; /* Largeur fixe pour les boutons */
}
  
button[type="reset"], button[type="submit"] {
    /* Largeur spécifique aux boutons, avec un espacement automatique pour alignement */
    width: 150px;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*Footer*/

footer{
	background-color: black; /* Fond noir */
    color: white; /* Texte blanc */
    text-align: center;
    padding: 5px 0; /* Réduction de la hauteur (padding) */
    font-size: 0.8rem; /* Taille du texte légèrement réduite */
    margin-top: 130px;
}
.footer-logo.right {
    float: right; /* Aligne le logo droit tout à droite */
    margin-right: 10px; /* Ajoute un léger espace avec le bord */
    height: 50px; /* Ajuste la hauteur si nécessaire */
}

.footer-logo.left {
    float: left; /* Aligne le logo gauche tout à gauche */
    margin-left: 10px; /* Ajoute un léger espace avec le bord */
    height: 50px; /* Ajuste la hauteur si nécessaire */
}

.footer-logo {
    width: auto;
    height: 50px; /* Ajuste la taille des logos */
}

.footer-links {
    color: yellow;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    color: yellow;
    text-decoration: none;
    margin: 5px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.left {
    margin-right: 20px;
}

.right {
    margin-left: 20px;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*Media querries*/

@media (min-width: 1281px){
	ul.categories
	{
		list-style: none;
	}
	ul.categories li
	{
		display: inline;
	}
	ul.categories li:not(:last-child)::after
	{
		content: ' - ';	
	}
}

@media (min-width: 1025px) and (max-width: 1280px){	
}

@media (min-width: 768px) and (max-width: 1024px){
	.flex-container{ display: block; }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .flex-container{ display: block; }
}

@media (min-width: 481px) and (max-width: 767px){
	.flex-container{ display: block; }
	header .navbar .navitem
	{
		padding: 5px 0;
		display: block;
	}
	header .navbar .navitem:not(:last-child)::after
	{
		content: '';
	}
	
	header img{ width: 30%;}
}

@media (min-width: 320px) and (max-width: 480px){
  .flex-container{ display: block; }
}

@media (max-width: 768px) {
    .form-section {
      width: 90%; 
    }
}
  